.button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    width: 15rem;
    height: 2.5rem;
    border: none;
    background: cornflowerblue;
    border-radius: 7px;
    font-size: 18px;
    color: #f5f5f5;
    cursor: pointer;
    transition: .3s;
    opacity: .9;
}

button:hover {
    opacity: 1;
}